
h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto', sans-serif !important;
  color: #292929 !important
}

.link{  color: #266ad0 !important; }

.lite-gr-text{
  color: #b5b5b5;
}

.regular{
  font-weight: 400;
}

.light{
  font-weight: 200;
}

.uppercase{
  text-transform: uppercase;
}

.undec{ text-decoration: none !important; }
.inl{ display: inline !important; }


.gr-text{
  color: #7f7f7f !important;
}

.page-desc{
  color: #7f7f7f !important;
  font-size: 11pt !important;
  font-weight: 400 !important;
}

.page-title{
  color: #4c4c4c !important;
}

