
h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto', sans-serif !important;
}

.grey-800{
  color: #414141;
}
.grey-600{
  color: hsl(0, 0%, 29%);
}
.grey-400{
  color: hsl(0, 0%, 45%);
}
.grey-200{
  color: #b5b5b5;
}

.font-800{
  font-weight: 800;
}
.font-600{
  font-weight: 600;
}
.font-400{
  font-weight: 400;
}
.font-200{
  font-weight: 200;
}





.link{
  color: #266ad0 !important;
}

.regular{
  font-weight: 400;
}

.light{
  font-weight: 200;
}

.uppercase{
  text-transform: uppercase;
}

.undec{ text-decoration: none !important; }
.inl{ display: inline !important; }


.gr-text{
  color: #7f7f7f !important;
}

.page-desc{
  color: #7f7f7f !important;
  font-size: 11pt !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}

.page-title{
  color: #4c4c4c !important;
}

.sb-p-text {
  font-size: 11pt;
  margin-bottom: 0px !important;
}

.like-old {
  font-weight: 200;
  color: #545454 !important;
  font-size: 11pt;
}
