.header{
  background-color: #13161d;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 40;
  height: 65px;
}

.header-inner{
  height: 100%;
  margin: 0 20px;
}

.header-logo{
  height: 33px;
}