
.ReactTable .-pagination .-btn {
  background: #868e96 !important;
}

.ReactTable.-striped .rt-tr.-odd {
  background: rgba(160, 215, 255, 0.05) !important;
}

.ReactTable.-striped .rt-tr.-even {
  background: rgba(5, 150, 19, 0.05) !important;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: rgba(6, 75, 150, 0.05) !important;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 rgba(38, 106, 208, 0.6) !important;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 rgba(38, 106, 208, 0.6) !important;
}

.ReactTable .rt-thead.-header {
  box-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.5) !important;
  //position: absolute !important;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  //border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
  //box-shadow: inset 0 0 0 0 rgba(218, 23, 23, 0) !important;
  outline: none !important;
}

.ReactTable .rt-th, .ReactTable .rt-td {
  //border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
}