body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 40px; /* bottom = footer height */
}

.footer {
  background-color: #141b27;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  overflow:hidden;
}

.footer-inner{
  border-top: 1px rgba(218, 218, 218, 0.15) solid;
  margin: 0 20px;
  height: 100%;
}



.header{
  background-color: #13161d;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 40;
  height: 65px;
}

.header-inner{
  height: 100%;
  margin: 0 20px;
  //border-bottom: 1px #dadada solid;
}

.page-content{
  padding-top: 65px;
}




body{
  background-color: #141b27;
}






h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto', sans-serif;
}


.network-badge{
  font-size: 8pt;
  color: #c5c5c5;
  font-weight: 500;
  margin: 0;
}

.account-badge{
  font-weight: 500;
  font-size: 13px;
}



div{
  color: white;
}



.sm-icon{
  width: 18px;
  height: 18px;
}




.hand-cursor {
  cursor: pointer;
}



.header-logo{
  height: 33px;
}

.footer-text{
  font-size: 9pt;
  color: #929292;
}

.footer-link{
  text-decoration: none;
}

.footer-company{
  border-right: 1px rgba(218, 218, 218, 0.15) solid;
}


.link{
  color: #266ad0;
}






.mdc-simple-menu{
  margin-top: 20px !important;
}